.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black ;


}
.navbar__left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__left h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #171717;
}
.navbar__left img{
    height: 50px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style:  none;
    color: #171717;
    font-size: 20px;
}
.nav-menu li{
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: column;
    align-items: center;
    justify-content: center;
}   
.nav-menu hr{
    width: 80%;
    height: 3px;
    background: #ff414f;
    border-radius: 10px;
    border: none;
}

.nav-menu li:hover{
    color: #646cff;
}
.nav-menu li.active{
    color: #646cff;
}
.nav-menu li.active:hover{
    color: #535bf2;
}
.nav-menu li:hover .logo{
    filter: drop-shadow(0 0 2em #646cffaa);
}